.cell{
    border: 1px solid gray;
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 2px;
}
.container{
    text-align: center;
    max-width: 960px;
}
.hover{
    background-color: black;
}
h1{
    text-align: center;
}
.buttons{
    display:flex;
    margin-bottom: 16px;
}
button{
    background-color: red;
    border-radius: 16px;
    padding:8px;
    margin:16px;
}
body{
    display:flex;
    flex-direction: column;
    align-items: center;
}

