.cell{
    border: 1px solid gray;
    box-sizing: border-box;
}
.container{
    text-align: center;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.hover{
   filter:brightness(90%);
    
}
h1{
    text-align: center;
}
.buttons{
    display:flex;
    margin-bottom: 16px;
}
button{
    margin: 7px;
    padding: 10px;
    width: 80px;
    background-color: transparent;
    color: #FFF;
    border-radius: 3px;
    box-shadow: 0 0 5px #fff, 0 0 5px #fff inset;
    border:none;
}
body{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: #5A236C;
    background-image: linear-gradient(to bottom right, #392270, #E9275B);
    color: #FFF;
}