.cell{
    border: 1px solid gray;
    box-sizing: border-box;
    background-color: rgb(255,255,255);
}
.container{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
h1{
    margin: 30px 0 20px 0;
    font-size: 50px;
    text-shadow: 0 0 13px #fff;
}
.buttons{
    display:flex;
    margin-bottom: 16px;
}
button{
    margin: 7px;
    padding: 10px;
    width: 80px;
    background-color: transparent;
    color: #FFF;
    border-radius: 3px;
    box-shadow: 0 0 5px #fff, 0 0 5px #fff inset;
    border:none;
    text-shadow: 0 0 7px #fff;
}
body{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: #5A236C;
    background-image: linear-gradient(to bottom right, #392270, #E9275B);
    color: #FFF;
}
.main{
    display:flex;
}
.side{
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin-right:20px;
}
.title{
    font-size: 18px;
}
.button2,.button3{
    margin-right:20px;
}